<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Система_РИА_ХОТЬКОВО.Properties.Settings.Прототип_БД_АИС_РИА_ХОТЬКОВОConnectionString"
            connectionString="Data Source=OwlPC;Initial Catalog=&quot;RIA CRM DB&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Система_РИА_ХОТЬКОВО.Properties.Settings.Прототип_БД_АИС_РИА_ХОТЬКОВОConnectionString1"
            connectionString="Data Source=OwlPC;Initial Catalog=&quot;RIA CRM DB&quot;;User ID=Director;Password=123456789"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>